<%= turbo_frame_tag dom_id(task) do %>
  <h1><%= task.title %></h1>
  <br><br>
  <p><%= task.description %></p>
  <br><br>
  <p><%= task.priority %></p>
  <br><br>
  <p><%= task.due_date %></p>
  <%= link_to "Edit", edit_task_path(task) %>
<% end %>
